body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #08234A;
    margin: 0;
}

h1 {
    color: white;
}

table {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

td {
    padding: 0.5rem 1rem;
}