body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-flow: column wrap;
    background-color: #08234A;
}

h1 {
    font-size: 1.25rem;
    border-bottom: 1px solid grey;
}

p { /* i thought this was unnecessaey but when i commented it out everything broke */ 
    padding: 0;
    margin: 0;
}

header {
    /* to interact less with other elements */
    width: fit-content;
    /* just in case */
    z-index: 1;
    color: white;
}

main {
    display: flex;
    flex-flow: column wrap;
    /* to place it right in the middle (visually) of the page */
    position: absolute; 
    top: 20%;
    align-self: center;
    /**/
    text-align: center;
    margin: 0;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

section {
    position: absolute;
    color: white;
    text-align: center;
    /* a bit higher than the center looks better */
    top: 45%;
    /* putting 100% causes a scroll bar to appear on the bottom? */
    width: 99%;
}

/* unsetting all default styles so i have more control of the way things look */
label, ul {
    all: unset;
}

ul {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
}

/* Styles for the different options for a given question */
label {
    margin: 0.5rem
}

button {
    all: unset;
    display: flex;
    flex-flow: row;
    cursor: pointer;
    width: 100%;
    align-items: center;
    background-color: dodgerblue;
    color: white;
    border-radius: 0.5rem;
}

.optn-ltr {
    margin: 0 0.5rem;
    /* so it slides to the center during the animation */
    justify-self: center;
    flex: 1; /* idk it worked */
}

.btn-anim {
    padding: 0.25rem 0.5rem;
    background-color: deepskyblue;
    color: white;
    border-radius: 0 0.5rem 0.5rem 0;

    /* these 3 are so the animation goes smoothly without looking wonkey */
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

    margin-left: auto; /* so that it slides off from left to right instead of right to left */
}

/* Animation makes the option button slide out from left to right */
@keyframes slideout {
    from {
        width: 100%;
    }
    to {
        width: 0;
        visibility: hidden; /* otherwise it leaves a sliver of the object */
    }
}

/* self explanatory? */
button:hover .btn-anim {
    animation:  0.3s linear /* looks better */ forwards  slideout;
}
/* "forwards" made the animation state reset after mouse off 
instead of animation complete, not sure if 
thats the intended purpose but its what i wanted */